.idea/
.vscode/
.process/
.DS_Store

log/
store/
template/
upload/
exported/
release/

sdk/
generated-sdk/
custom-*/

# 输出文件
*.out
*.db
*.exe
.env*

debug
fireboom
authentication.key
license.key

!.gitkeep